body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

hr{
    color: #304CCC;
    background-color: #304CCC;
    height: 1px;
}

.header {
    display: flex;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(#304CCC, #7286E4);
    text-align: center;
    z-index: 0;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /* border-style: solid; */
}

#header_nav{
    width: 100%;
    height: 66px;
    border-radius: 5px;
    /* border-style: solid; */
    
}

.navbar{
    margin: auto;
    /* border-style: solid; */
    margin-top: -10px;
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    background-color: #C7D0F6;
}

h1{
    margin: 0;
}

.content_inside{
    display: grid;
    grid-template-columns: 256px auto;
}

.title_newbox{
    background-color: #FFD3A7;
    height: 40px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    font-size: 24px;
    color: black;
    opacity: 0.7;
}

.drag_newbox{
    border:0;
    border-style: solid;
    width: inherit;
    margin-bottom: 5px;
}

.drag_news{
    border: 0;
    /* width: inherit; */
    width: 256px;
}

.news{
    display: flex;
    justify-content: center;
    align-items: center;
}

.move_symbol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_content_symbol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_newbox{
    display: none;
}

.process_text{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.taskbar_process{
    border-radius: 3px;
    height: 40px;
    background-image: linear-gradient(#E8EEFE 10%, #1853E5 90%);
    display: grid;
    grid-template-columns: 20% 15% 8% 8% 8% 20% 7% auto;
    column-gap: 10px;
    padding-left: 30px;
    padding-right: 30px
}

.tittle_process{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    /* margin-left: -80px; */
    /* border-style: solid; */
    font-size: 20px;
    color:white;
}

.sample_text{
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

.process_text_input{
    /* height: 40%; */
    margin-top: auto;
    margin-bottom: auto;
}

.process_button{
    /* width: 60%;
    height: 60%; */
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    background-color: #304CCC;
    color:white
}

.color_input{
    margin-top: auto;
    margin-bottom: auto;
    height: 60%;
}

.button_image{
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
}